/test_lab_8/nbproject/private/
/test_lab_8/build/
/lab_8.2/nbproject/private/
/lab_8.2/build/
/from1_02_51/nbproject/private/
/from1_02_51/build/
/paper/nbproject/private/
/paper/build/
/Zuhnair/nbproject/private/
/Zuhnair/build/
/JavaApplication35/nbproject/private/
/JavaApplication35/build/
/mahad_dataBase_test/nbproject/private/
/mahad_dataBase_test/build/
/teh/nbproject/private/
/tehm/nbproject/private/
/tehm/build/
/ff/nbproject/private/
/Library Management System/nbproject/private/
/Library Management System/build/
/transport/nbproject/private/
/transport/build/
